@tailwind base;
@tailwind components;
@tailwind utilities;

.dark body {
  background-color: #070707;
}

body {
  background-color: #dedede;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-border,
.btn {
  border-radius: 9999px;
  overflow: hidden;
  background-image: none;
}

.dark .gradient-border::before,
.dark .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 9999px;
  padding: 2px;
  background: linear-gradient(to right, #035d95, #049bbe, #01c8ee);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

.dark .gradient-border:hover::before,
.dark .gradient-border:focus::before {
  background: #02f5ee;
}

.btn-light {
  background-color: #049bbe;
  transition: all 0.3s ease-in-out;
}

.btn-light:hover,
.btn-light:focus {
  background: linear-gradient(to right, #035d95, #049bbe, #01c8ee);
}

.dark .btn-light {
  background-color: transparent;
}

.dark .btn-light:hover,
.dark .btn-light:focus {
  background: none;
}

@layer utilities {
  .gradient-text {
    color: #035d95;
  }
  .dark .gradient-text {
    background: linear-gradient(to right, #035d95, #049bbe, #01c8ee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

.title-section::before {
  content: '';
  display: none;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 82px;
  height: 1px;
  background: #035d95;
}

.dark .title-section::before {
  background: linear-gradient(to right, #035d95, #049bbe, #01c8ee);
}

@media (min-width: 768px) {
  .title-section::before {
    display: block;
  }
}

.modal-workingProcess {
  @apply gradient-border relative size-[358px] md:size-[727px] rounded-full  bg-gainsboro  !bg-modalWorkProcessLightBg bg-center   dark:bg-blackMain dark:bg-modalWorkProcessBg px-11 py-16 md:px-24 md:py-44 flex items-center justify-center;

  button {
    @apply absolute right-[68px] top-[42px] size-5 md:size-8 md:right-32 md:top-32 text-cobalt dark:text-lightWhite;
  }
}

.modal-services {
  @apply relative w-[358px] h-[594px]  rounded-[32px]  bg-gainsboro  bg-modalWorkProcessLightBg    dark:bg-blackMain !bg-modalServicesBg bg-contain bg-bottom bg-no-repeat px-8 py-[104px]  flex items-center justify-center;

  button {
    @apply absolute right-8 top-8 size-8 md:right-32 md:top-32 text-cobalt dark:text-lightWhite;
  }
}
.btn-request {
  @apply w-[358px] md:w-[340px] desk:w-[400px];
}
