@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .gradient-color {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #035d95, #049bbe, #01c8ee);
  }
}
